/* Root container styling */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Lora', serif; 
  background: url('../assets/images/background.png') no-repeat center center fixed;
  background-size: cover;
  color: #333; 
}

/* Navbar container styling */
.navbar {
  background-color: #1a2b4c; 
  padding: 1em;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

/* Branding (Portfolio title) styling */
.navbar .branding {
  font-size: 2em; 
  font-family: 'Merriweather', serif;
  color: #ffffff;
  text-align: center;
  white-space: normal; 
  word-break: break-word; 
  max-width: 100%; 
}


/* Navigation links styling */
.navbar .nav-links {
  display: flex; 
  gap: 1.5em; 
  margin-left: auto;
}

.navbar .nav-link {
  font-size: 1.5em; 
  color: #ffffff;
  margin-left: 1em; 
}

.navbar .nav-link:hover {
  text-decoration: underline; 
  color: #61dafb; 
}

/* Section Styling */
section {
  margin: 2em 0;
  text-align: center;
  background: linear-gradient(to right, #B0C4DE, #D6EAF8); 
  backdrop-filter: blur(10px);
  padding: 2.5em;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Standardize Headers */
h2, h3 {
  font-family: 'Merriweather', serif;
  font-size: 1.8em; 
  font-weight: bold;
  text-align: center;
}

/* Global paragraph styling */
p {
  font-size: 1.2em; 
  line-height: 1.6; 
}

/* Standardize Section Text */
section p {
  font-family: 'Lora', serif; 
  font-size: 1.2em; 
  line-height: 1.6;
  text-align: justify;
}
.card {
  background: linear-gradient(to right, #B0C4DE, #76afd8); 
  backdrop-filter: blur(10px); 
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none; 
}

/* Icon Container */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; 
  margin-top: 1.5rem;
}

/* Icon Styling */
.icon {
  width: 45px;
  height: 45px;
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.2); 
}

/* Footer Styling */
footer {
  background-color: #1a2b4c; 
  color: white;
  padding: 1em;
  margin-top: 2rem;
  text-align: center;
}

footer a {
  color: #61dafb;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar .branding {
    font-size: 1.8em; /* Slightly reduce size */
    text-align: center;
    padding: 0.5rem; /* Adds space */
  }
}

@media (max-width: 480px) {
  .navbar .branding {
    font-size: 1.5em; /* Further reduce size for very small screens */
    padding: 5px;
    text-align: center;
    word-break: break-word; /* Ensures wrapping */
  }
}

